<h1>Mailer Previews</h1>

<% @mailer_classes.each do |mailer| %>
  <p><%= mailer.name %></p>

  <ul>
  <% mailer.actions.each do |action| %>
    <li><%= link_to action, mailer_path(mailer.name, action) %></li>
  <% end %>
  </ul>

<% end %>
